<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<h1>Mijn account</h1>
<p>Hier staan al jouw gegevens</p>

<section class="account-info">
    <!-- dit moet aangepast kunnen worden -->
    <div class="profile-pic-container">
        <img src="<%= user.avatar %>" alt="Profielfoto">
        <h2><%= user.name %></h2>
    </div>

    <div class="information-container">
        <h3>Gebruikersnaam</h3>
        <p><%= user.username %></p>

        <h3>Telefoonnummer</h3>
        <p><%= user.phone %></p>

        <h3>Mobiliteit</h3>
        <p><%= user.mobility %></p>

    </div>
</section>
<%- include('includes/footer'); -%>
