<%- include('includes/head'); -%>
<%- include('includes/header'); -%>

<main class='full-vertical'>
    <header>
        <h1> Mijn afspraken </h1>
        <p> Hier staan al jouw geplande puppledates! </p>
    </header>
    <section class="content-container card">
        <% appointments.forEach(appointment => { %>
        <div class="buddy">
            <img src="/images/<%= appointment.image %>" alt="dog-buddy">
            <div class="appointment1">
                   <p> <%= appointment.day %>  |  <%= appointment.time %> uur </p>
                    <p> <%= appointment.name %> </p>
                    <p> <%= appointment.locationName %> </p>
            </div>
        </div>
        <% }) %>

        <a href="/pupple" class="nieuwe-puppledate">Nieuwe puppledate</a>
    </section>
</main>



<%- include('includes/footer'); -%>